body {
  .container {
    width: 1366px;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    .card {
      display: flex;
      flex-direction: column;
      width: 340px;
      height: 500px;
      .card-top {
        height: 200px;
        background-color: rgb(53, 140, 139);
        padding: 20px;
      }
      .card-bottom {
        height: 300px;
        background-color: rgb(223, 253, 254);
        padding: 20px;
        .card-profile-img {
          display: flex;
          justify-content: center;
          margin-top: -70px;
          .img {
            width: 120px;
            height: 120px;
            border: 20px solid rgb(223, 253, 254);
            border-radius: 100%;
          }
        }
      }
    }
  }
}
